/* FOOTER GENERAL */
.footer-custom {
    background: #ffffff; /* color dark moderno */
    color: #ccc;
    padding: 40px 0;
}

/* TITULOS */
.footer-custom h5,
.footer-custom h6 {
    color: #fff;
    margin-bottom: 15px;
}

/* LINKS */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

/* HOVER */
.footer-links a:hover {
    color: #0d6efd;
    padding-left: 5px;
}

/* REDES */
.footer-custom a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-custom a:hover {
    color: #0d6efd;
}

/* LINEA */
.footer-custom hr {
    border-color: #ffffff;
    margin: 20px 0;
}

/* COPYRIGHT */
.copy {
    font-size: 14px;
    color: #ffffff;
}