/* colores de marcos */
.card-productos {
  border: 2px solid #2563eb;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  background-color: #ffffff;
}

/*tamaño de imagenes*/
.card-productos img {
  width: 100%;

  height: 260px;

  object-fit: contain;

  margin-bottom: 20px;
}
